.App {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-name {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 3em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper > img {
  margin-bottom: 12px;
}
